# Exploratory data analysis (EDA)
## Exploring Rossmann Pharmaceuticals' dataset

## Importing the relevant libraries

In [1]:
import os
import sys
sys.path.append(os.path.abspath(os.path.join('../scripts')))

In [2]:
#we will need the following libraries and modules
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
import seaborn as sns
sns.set()

### Importing scripts & modules

In [3]:
from helper import MyHelper
import utility
import plots

### Loading the data

In [8]:
train_PATH = "../data/train.csv"
test_PATH = "../data/test.csv"
store_PATH = "../data/store.csv"
sample_PATH = "../data/sample_submission.csv"

In [9]:
# the class has utility function we are going to use
Helper = MyHelper()

In [10]:
# we use our helper function to read csv data
df_train = Helper.read_csv(train_PATH)
df_test = Helper.read_csv(test_PATH)
df_store = Helper.read_csv(store_PATH)
df_sample = Helper.read_csv(sample_PATH)

>> file read as csv
>> file read as csv
>> file read as csv
>> file read as csv

# Train data

In [12]:
df_train.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

# Test data

In [13]:
df_test.head()

   Id  Store  DayOfWeek        Date  Open  Promo StateHoliday  SchoolHoliday
0   1      1          4  2015-09-17   1.0      1            0              0
1   2      3          4  2015-09-17   1.0      1            0              0
2   3      7          4  2015-09-17   1.0      1            0              0
3   4      8          4  2015-09-17   1.0      1            0              0
4   5      9          4  2015-09-17   1.0      1            0              0

# Store data

In [14]:
df_store.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

# Sample_submission data

In [15]:
df_sample.head()

   Id  Sales
0   1      0
1   2      0
2   3      0
3   4      0
4   5      0